cdlib>=0.3.0
furo>=2024.5.6
ghp-import>=2.1.0
leidenalg>=0.10.2
markov-clustering==0.0.6.dev0
matplotlib>=3.8.3
networkx>=3.3
notebook>=7.1.2
numpy>=1.26.4
pandas>=2.2.1
prettytable>=3.10.0
sphinx>=7.3.7
scikit-learn>=1.4.2
torch>=2.2.1
torch_geometric>=2.5.3
tqdm>=4.66.2
